* {
  margin: 0;
  padding: 0;
}

body {
  background: url('https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2569486047,3428433554&fm=27&gp=0.jpg') 100% 100% center no-repeat;
}

header {
  background: lightgray;
  border-bottom: 1px solid black;
  height: 65px;
  font-size: 25px;
  line-height: 65px;
  text-align: center;
  text-shadow: 2px 2px 5px green;
}

.main {
  width: 80%;
  margin: 5px auto;
  background: lightgray;
}

.first {
  height: 30px;
  padding: 5px 0;
}

.first a {
  display: inline-block;
  height: 100%;
  line-height: 30px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.first a:hover {
  color: red;
}
